html {
  box-sizing: border-box;
  font-family: Georgia, sans-serif;
  line-height: 1.5;
  color: #512200;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card h2 {
  font-family: "Dosis", sans-serif;
  color: #512200;
}

.link-card {
  display: block;
  border-width: 3px;
  border-radius: 3px;
  border-style: solid;
  border-color: #9a816d;

  background-color: #dcd4cd;
  color: #512200;
  text-decoration: none;

  padding: .4em .75em .5em;
}

dl {
  border-top: solid 2px #9a816d;
  border-bottom: solid 2px #9a816d;
}

p {
  border-bottom: 2px;
  color: #512200;
}

.link-card dl {
  margin-bottom: 1rem;
  padding: 20px;
}

.link-card dt {
  display: inline-block;
  width: 6em;
}

.link-card dd {
  display: inline-block;
  min-width: 20em;
}

body div {
  text-align: center;
  margin-bottom: 8px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: .5em .75em;
  border-radius: 3px;
  border-width: 8px;
  color: #fff;
  background-color: #785439;
}

.link-card:hover .btn {
  background-color: #512200;
}

a:hover {
  background-color: #cabdb2;
}
